/*-----------------------------------------------------------------*/
/* 목록
/*-----------------------------------------------------------------*/

#boardlist * {font-family:'AppleSDGothicNeo';}
#boardlist .category {display:table; width:100%; height:50px; margin-bottom:20px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; text-align:center;}
#boardlist .category > ul {display:table-row;}
#boardlist .category > ul > li {display:table-cell; width:10%; vertical-align:top;}
#boardlist .category > ul > li > a {display:block; position:relative; height:48px; border-bottom:1px solid #e0e0e0; border-right:1px solid #e0e0e0; color:#888; line-height:48px;}
#boardlist .category > ul > li.cate_all > a,
#boardlist .category > ul > li.selected > a {border-bottom:1px solid #fff; color:#333; font-weight:bold;}
#boardlist .board_col {table-layout:fixed; clear:both; width:100%; border-collapse:collapse; border-top:1px solid #cacaca;}
#boardlist .board_col caption {padding-bottom:20px; font-weight:bold; text-align:left;}
#boardlist .board_col > thead > tr > th {display:none; padding:50px 0; border-bottom:1px solid #cacaca; font-weight:normal; text-align:center; vertical-align:middle;}
#boardlist .board_col > tbody > tr > td {padding:40px 0; border-bottom:1px solid #cacaca; text-align:center; vertical-align:middle;}
#boardlist .board_col > tbody > tr > td,
#boardlist .board_col > tbody > tr > td * {color:#3f2625; font-size:17px; font-weight:700;}
#boardlist .board_col > tbody > tr > td.tal {padding-left:15px !important;}
#boardlist .board_col > tbody > tr > td.subject img {margin-right:5px; vertical-align:middle;}
#boardlist .board_col > tbody > tr > td.c6 {color:#666; font-weight:400;}
#boardlist .page_write {position:relative; min-height:34px; margin-top:30px;}
#boardlist .page_write .write {position:absolute; right:0; top:0;}
/* #boardlist .board_search {clear:both; text-align:center;}
#boardlist .board_search form {display:inline-block; margin:30px auto 0; padding:5px; border:1px solid #dcdcdc; text-align:center;}
#boardlist .board_search select {border:0;}
#boardlist .board_search input.form_input.search {width:300px; border-width:0 1px;}
#boardlist .board_search .btn_search {display:inline-block; width:34px; height:34px; border:0; background:url('{{$이미지경로}}/button/search_brown.png') no-repeat center; vertical-align:top; text-indent:-9999px; cursor:pointer;} */
#boardlist .board_search {clear:both; text-align:center;}
#boardlist .board_search form {display:inline-block; position:relative; margin:80px auto 0; border-width:0; color:#666; font-size:13px; text-align:center;}
#boardlist .board_search form * {height:25px; font-family:'NanumMyeongjo'; font-weight:700;}
#boardlist .board_search select {padding:0; border:1px solid #936053; border-width:0 0 1px 0; width:100px;}
#boardlist .board_search input.form_input.search {width:200px; margin-left:10px; border:1px solid #936053; border-width:0 0 1px 0; background:#f9f5f4;}
#boardlist .board_search .btn_search {display:inline-block; position:absolute; bottom:5px; right:0; width:18px; height:18px; border:0; background:url('http://jaimdangmall.mywisa.com/_skin/jaimdangmall/img/button/search_brown.png') no-repeat center/18px; text-indent:-9999px; cursor:pointer;}


/*-----------------------------------------------------------------*/
/* 열람
/*-----------------------------------------------------------------*/

#boardview .board_row {table-layout:fixed; width:100%; border-top:1px solid #e0e0e0;}
#boardview .board_row tr > th {padding:15px 0 15px 30px; border-bottom:1px solid #e0e0e0; font-weight:normal; text-align:left; vertical-align:middle;}
#boardview .board_row tr > td {padding:15px 10px; border-bottom:1px solid #e0e0e0; text-align:left; vertical-align:middle;}
#boardview .board_row tr > td,
#boardview .board_row tr > td * {color:#666;}
#boardview .boxview {padding:30px; border-bottom:1px solid #e0e0e0; text-align:left;}
#boardview .boxview > div {word-break:break-all; word-wrap:break-word;}
#boardview .boxview > div * {font-family:inherit; font-size:inherit; text-align:inherit; line-height:inherit;}
#boardview .boxview > div img {max-width:100%;}
#boardview .btn {padding:20px 0; text-align:right;}
#boardview .btn .modelete {float:left;}


/*-----------------------------------------------------------------*/
/* 쓰기
/*-----------------------------------------------------------------*/

#boardwrite {width:100%; background:#f9f5f4; text-align:center;}
#boardwrite form {display:inline-block; width:72%; margin:0 auto; padding:40px 0; text-align:left;}
#boardwrite fieldset > div {position:relative; margin-bottom:10px;}
#boardwrite fieldset > div > input {line-height:35px;}
#boardwrite fieldset > div:last-child {margin-bottom:0;}
#boardwrite fieldset > div > label {display:none;}
#boardwrite fieldset > div.name {min-height:34px; padding-right:180px; line-height:34px; font-weight:bold;}
#boardwrite fieldset > div.name .form_input {width:90%;}
#boardwrite fieldset > div.name .check {position:absolute; right:0; top:3px;}
#boardwrite fieldset > div.contents {background:#fff;}
#boardwrite fieldset select {width:100%;}
#boardwrite .btn {padding:20px 0; text-align:center;}


/*-----------------------------------------------------------------*/
/* 비밀번호 확인
/*-----------------------------------------------------------------*/

#boardpw {padding:40px 0; border:1px solid #e0e0e0; background:#fafafa; text-align:center !important;}
#boardpw h3 {padding-bottom:15px;}
#boardpw p {margin-bottom:20px; color:#888;}
#boardpw .form_input {width:330px; margin-bottom:20px;}


/*-----------------------------------------------------------------*/
/* 댓글목록, 댓글쓰기 - 스킨공통css 적용
/*-----------------------------------------------------------------*/

.write_comment {background:#f9f5f4;}